*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #3FF9A0;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

h1 {
  font-weight: 600;
  font-size: 2.7em;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj&display=swap');

html, body {
  margin: 0;
  overflow: hidden;
  overflow-x: hidden;
  height: 100%;
}

body {
  background: #000B19;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

::selection {
  background: #BAFFFB;
  border-radius: 14px;
  color: white;
}

#questionQuote {
  /* font-family: 'Taviraj', serif; */
  font-size: 70px;
  color: #FFFBD4;
  padding-top: 90px;
}

#quote {
  background-color: #135B57;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  color: #FFFBD4;
  font-weight: 100;
  padding-left: 50px;
}

#Ideas {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  color: #135B57;
  padding-top: 50px;
  padding-left: 50px;
  font-weight: 100;
}

#firstslide {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 100;
  color: #135B57;
  padding-top: 350px;
  padding-left: 30px;
  background-image: url("images/VUI_Image.png");
  background-repeat: no-repeat;
  background-size: 1060px;
}

#firstdefinition {
  font-family: 'Inter', sans-serif;
  font-size: 50px;
  font-weight: 100;
  color: #135B57;
  padding-top: 50px;
  padding-left: 30px;
}

#seconddefinition {
  font-family: 'Inter', sans-serif;
  font-size: 50px;
  font-weight: 100;
  color: #135B57;
  padding-top: 50px;
  padding-left: 30px;
}

#thirddefinition {
  font-family: 'Inter', sans-serif;
  font-size: 50px;
  font-weight: 100;
  color: #135B57;
  padding-top: 50px;
  padding-left: 30px;
}

#history {
  background-color: #135B57;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  color: #FFFBD4;
  font-weight: 100;
  padding-top: 50px;
  padding-left: 30px;
  list-style-type: none;
  line-height: 30px;
}

#whatsthis {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  color: #135B57;
  padding-top: 50px;
  padding-left: 50px;
  font-weight: 100;
}

#zebra {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  color: #135B57;
  padding-top: 50px;
  padding-left: 50px;
  font-weight: 100;
}

#peacock {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  color: #135B57;
  padding-top: 50px;
  padding-left: 50px;
  font-weight: 100;
}

#tiger {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  color: #135B57;
  padding-top: 50px;
  padding-left: 50px;
  font-weight: 100;
}

#lastslide {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  text-align: center;
  color: #135B57;
  padding-top: 200px;
  padding-left: 50px;
  font-weight: 100;
}

.box {
  display: block;
  /* width: 100vw; */
  height: 650px;
  width: 1000px;
  /* height: 600px; */
  padding: 30px 50px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  color: rgb(102, 102, 102);
}

.box.present .animation-rotate {
  display: inline-block;
  transform: rotate(-5deg);
  transition: 0.5s;
  transition-delay: 0.25s;
}

#SearchTerm {
  display: block;
  margin: auto;
  width: 300px;
  max-width: 100%;
  /* box-shadow: none; */
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
  background-color: #3FF9A0;
  background-color: #40EE9A;
  color: #071629;
  position: absolute;
  right: 0;
  top: 65px;
  height: 60px !important;
  text-align: center;
  padding-top: 20px;
  z-index: 5;
  visibility: hidden;
  border-radius: 10px 0px 0px 10px ;
}


.header {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  background-color: #071629;
  color: white;
  position: fixed;
  height: 60px !important;
  text-align: center;
  padding-top: 20px;
  overflow: hidden;
  z-index: 12;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #071629;
  color: white;
  padding-left: 15px;
  text-align: left;
  height: 70px !important;
  overflow: hidden;
  z-index: 12;
}

#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 250px;
  margin-top: 20px;
  text-align: left;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background: #071629;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 1);
  overflow: scroll;
  z-index: 10;
}

.sidebarMenuInner {
  margin: 0;
  padding: 0;
}

.sidebarMenuInner li {
  list-style: none;
  color: #fff;
  font-weight: medium;
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: #596386;
}

.sidebarMenuInner li a {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

input[type="checkbox"]:checked~#sidebarMenu {
  transform: translateX(0);
  outline: none;
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
  outline: none;
}

.call2action {
  color: #3FF9A0;
  outline: none;
}

#call2action3 {
  visibility: hidden;
}

.button {
  width: 60px;
  font-size: 20px;
  color: #3FF9A0;
  z-index: 30;
  background: none;
  /* margin-left: 25px; */
  cursor: pointer;
  border: none;
  position: fixed;
  left: 60px;
  margin-top: -18px;
  outline: none;
  padding: 17px;
}

.button:hover {
  color: white;
  transition: 0.2s ease-in;
  outline: none;
  background-color: #040E1A;
}

.button:active {
  color: white;
  background: #3FF9A0;
  outline: none;
  background-color: #040E1A;
}

.button1 {
  width: 60px;
  font-size: 20px;
  color: #3FF9A0;
  z-index: 30;
  background: none;
  /* margin-left: 25px; */
  cursor: pointer;
  border: none;
  position: fixed;
  left: 120px;
  margin-top: -18px;
  outline: none;
  padding: 17px;
}

.button1:hover {
  color: white;
  transition: 0.2s ease-in;
  outline: none;
  background-color: #040E1A;
}

.button1:active {
  color: white;
  background: #3FF9A0;
  outline: none;
  background-color: #040E1A;
}

.button2 {
  font-size: 20px;
  color: #3FF9A0;
  z-index: 30;
  background: none;
  position: fixed;
  right: 0px;
  margin-left: 80px;
  cursor: pointer;
  border: none;
  margin-top: -18px;
  outline: none;
  padding: 17px;
}

.button2:hover {
  color: white;
  transition: 0.2s ease-in;
  outline: none;
  background-color: #040E1A;
}

.button2:active {
  color: white;
  background: #3FF9A0;
  outline: none;
  background-color: #040E1A;
}

.visualizer {
  align-self: center;
  align-items: center;
  align-self: center;
}

.sidenav {
  height: 85%;
  width: 220px;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: #071629;
  margin-top: 60px;
  overflow: scroll;
  transition: 0.3s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 1);
}

.sidenav img {
  display: block;
  right: 0px;
  padding: 10px;
  border-radius: 14px;
}

.sidenav a {
  color: white;
  text-align: center;
  text-decoration: none;
}

.sidenav p {
  color: white;
  margin-top: 120px;
  font-size: 10px;
  padding-left: 7px;
  width: 12px;
  float: left;
  z-index: 50;
  position: relative;
}

.currentResult {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  /* background-color: #071629; */
  color: white;
  position: fixed;
  height: 60px !important;
  text-align: center;
  padding-top: 20px;
  overflow: hidden;
  z-index: 10;
}

path {
  stroke-linecap: square;
  stroke: white;
  stroke-width: 0.5px;
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 21px;
  left: 17px;
  height: 22px;
  width: 22px;
  border-radius: 15px;
  position: fixed;
  padding-top: 2px;
}

.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #3FF9A0;
}

.spinner:hover {
  transition: 0.2s ease-in;
}

.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
  border-radius: 1px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
  border-radius: 1px;
}

.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
  border-radius: 1px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
  background-color: white;
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
  background-color: white;
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 6px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
  background-color: white;
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

svg {
  position: fixed;
  bottom: 10px;
  right: 15px;
  display: block;
  width: 200px;
  height: 60px;
  padding: 0;
  margin: 0;
  z-index: 100;
}

@media only screen and (max-width: 720px) {
  .about {
    max-width: 100%;
  }
}
